
/*pour index.php */

.jumbotron2{
    padding: 2rem 0;
    border-radius: 0;
   
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    
    height:100vh;
    color:black; 
    
 }

.back_img1{
  background-image: url("../images/index.png");
}

.back_img2{
  background-image: url("../images/sable.png");
}

.back_img3{
  background-image: url("../images/plage.png");
}

 @media (min-width: 576px) {
    .jumbotron2 {
      padding: 4rem 2rem;
    }
  }

  /*pour buble discussion*/
  #circle {
	width: 20px;
	height: 20px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	margin-right: 20px;
  }
  

  